body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: darkseagreen;
  }
  
  .search-container {
    margin-top: 50px;
  }
  
  .search-container input[type=text] {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: rgb(255, 30, 0);
    font-size: 16px;
    cursor: pointer;
  }
  
  .student-card {
    background-color: rgb(72, 146, 186);
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .student-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 50px;
  }
  
  .student-card .details {
    text-align: left;
    margin-bottom: 20px;
  }

  img{
    border-radius: 50%;
  }

  
  .student-card .details p {
    margin: 5px;
  }